body{
    background: url('../../asset/images/bg_login.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

.form{
    margin: 7% auto;
    max-width: 400px;
    background: rgba(255,255,255,0.3);
    padding: 10px;
}