.detail-actualite-page .img img{
    height: 400px;
    width: 100% !important;
}

.detail-actualite-page .card-title{
    font-family: DancingScript, "Open Sans";
    font-size: 2rem;
    font-weight: bold;
}