.home-page .carousel-caption{
    background: rgba(0,0,0,0.5);
}

.home-page Jumbotron{

}

.home-page .list{
    max-height: 480px;
    overflow-y: scroll;
}

.home-page .media-body p, .home-page .media-body h5{
    margin-bottom: 0;
}

.home-page .carousel img{
    height: 500px;
}