.organigramme-page .right-line {
    border-right: 5px #ccc solid;
    height:2em
}

.organigramme-page .top-line {
    border-top: 5px #ccc solid;
}

.organigramme-page .halved {
    width: 50%;
    float:left;
}

.organigramme-page .container{margin-top: 100px}