@font-face {
    font-family: "DancingScript";
    src: url('asset/font/DancingScript/dancingscript-variablefont_wght-webfont.eot'); /* IE9 Compat Modes */
    src: url('asset/font/DancingScript/dancingscript-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('asset/font/DancingScript/dancingscript-variablefont_wght-webfont.woff') format('woff'), /* Modern Browsers */
    url('asset/font/DancingScript-VariableFont_wght.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('asset/font/DancingScript/dancingscript-variablefont_wght-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Philosopher";
    src: url('asset/font/Philosopher/philosopher-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('asset/font/Philosopher/philosopher-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('asset/font/Philosopher/philosopher-regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('asset/font/Philosopher/philosopher-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('asset/font/Philosopher/philosopher-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  font-family: 'Philosopher',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
